<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--bean id="userStorage" class="ru.yandex.practicum.filmorate.filmStorage.entity.user.InMemoryUserStorage"></bean>
    <bean id="friendPairs" class="ru.yandex.practicum.filmorate.filmStorage.activity.friends.InMemoryFriendPairsStorage"></bean>
    <bean id="UserService" class="ru.yandex.practicum.filmorate.service.user.UserService" autowire="constructor"></bean-->


</beans>